.icon {
	height: 35px;
	width: 35px;
}

.tab-wrapper {
	height: calc(100vh - 130px); /*130px: 88 from form, 42 from tab*/
}

.hourly-tab-wrapper {
	height: calc(100vh - 500px); /*130px: 88 from form, 42 from tab*/
}

#summary_table, #summary_table tr, #summary_table td {
	background-color: rgb(147, 203, 240);
	border-width: 3px;
	padding: 0 5px;
	text-align: center;
}

#summary_table {
	border-radius: 5px;
	border-spacing: 10px;
    text-align: left;
	margin: auto;
    display: table;
}

#current_tab {
	background: no-repeat center;
	background-size: cover;
}

/*Combination of table and wrapper made it difficult to get
desired spacing above the table. Padding, margin, table 
manipulation wasn't working. Forcing in an empty div.*/
#forced_spacing {
	height: 15vh;
}

#city {
	font-size:32px;
	line-height: 5px;
	height: 5px;
	margin-top: 20px;
	margin-bottom: 0px;
}

#temp {
	font-size:60px;
	line-height: 5px;
	height: 5px;
	margin-top: 50px;
	margin-bottom: 20px;
}

#status {
	font-size:24px;
	line-height: 5px;
	height: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}