.icon {
	height: 35px;
	width: 35px;
}

#summary_table, #summary_table tr, #summary_table td {
	background-color: rgb(147, 203, 240);
	border-width: 3px;
    /* border-style: solid;
    border-color: black; */
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

#summary_table {
	border-collapse: collapse;
	background-color: rgb(147, 203, 240);
    /* padding: 100px; */
    text-align: left;
	/* margin: 20px auto; */
	margin: auto;
    display: table;
}