<form id='main-form'>
    <div class="container-fluid">
        <div class="form-group row">
            <div>
                <input
                    type="text"
                    class="form-control"
                    id="input_city"
                    name="input_city"
                    placeholder="Search weather location"
                    [(ngModel)]="input_city"
                    [disabled]="isChecked"
                    [ngbTypeahead]="search"
                />
            </div>

            <div>
                <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="(!isChecked) && (!input_city)">Enter</button>
                <button type="submit" class="btn" (click)="onClear()">Clear</button>
            </div>
        </div>

        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                id="curloc"
                name="curloc"
                [(ngModel)]="isChecked"
                (click)="checkValue()"
            />
            <label class="form-check-label" for="curloc">
                Use current location
            </label>
        </div>
    </div>
</form>