#mainform { 
    background-color: rgb(79,146,172);
    padding: 20px;
    text-align: left;
	color: white;
	border-radius: 0px;
}

#resfav { 
    padding: 10px;
	margin: auto;
	color: white;
}

.nav-pills>li {
    color: black;
    background-color: white;
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
  }

.nav-pills>.active {
    color: black;
    background-color: rgb(79,146,172);
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.form-check {
    margin-top: -10px;
}